## How to use Python to manupulate MySQL database

1. Download mysql and mysql workbench (when configuring SQL server, in 
    Authentication Method, choose Use Legacy Authentication Method. Because
    with new authentication method, mysql.connector is not able to connect.)
2. pip install mysql-connector

In [34]:
import mysql.connector

In [83]:
# Create a connection
mydb = mysql.connector.connect(
    host='127.0.0.1',
    user='root',
    password='Mysql!123',
    database='testdb'
)
print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x00000000076D4D68>

In [84]:
mycursor = mydb.cursor()

In [51]:
# Create a database
mycursor.execute('CREATE DATABASE testdb')

DatabaseError: 1007 (HY000): Can't create database 'testdb'; database exists

In [53]:
# See all databases
mycursor.execute('SHOW DATABASES')

for db in mycursor:
    print(db)

In [63]:
# Create a table
# Before create a table, need to define in which database the tabel is created
mycursor.execute('CREATE TABLE registrar (\
                name VARCHAR(255),\
                contact VARCHAR(255),\
                note VARCHAR(255))')

In [72]:
# %s works as placehoders
sqlFormula = "INSERT INTO registrar (name, contact, note) VALUES (%s, %s, %s)"

In [73]:
# data sample
registrar1 = ('Godaddy' , 'abuse@godaddy.com', 'non-compliance')

In [74]:
# execute code
mycursor.execute(sqlFormula, registrar1)

In [75]:
# Unless we run the code below, no changes would be made
mydb.commit()

In [77]:
# Insert many data, use executemany command
registrars = [
    ('Godaddy' , 'abuse@godaddy.com', 'non-compliance'),
    ('CheapName' , 'abuse@cheapname.com', 'non-compliance'),
    ('ENAME' , 'abuse@ename.com', 'non-compliance'),
    ('AliYun','abuse@alicloud.com', 'compliance')
]

mycursor.executemany(sqlFormula, registrars)

mydb.commit()

In [85]:
# Selecting and getting data from database
mycursor.execute('SELECT * FROM registrar')
# fetchall can grab data from previous execute
# mycursor.fetchone()  return first row of result
myresult = mycursor.fetchall()
# loop through result
for row in myresult:
    print(row)

('Godaddy', 'abuse@godaddy.com', 'non-compliance')
('Godaddy', 'abuse@godaddy.com', 'non-compliance')
('CheapName', 'abuse@cheapname.com', 'non-compliance')
('ENAME', 'abuse@ename.com', 'non-compliance')
('AliYun', 'abuse@alicloud.com', 'compliance')